ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}
.prisinformation > p {
  font-size: x-large;
}
/* månadens header */
.månad {
  padding: 70px 25px;
  width: auto;
  background: #d6d6d6;
  text-align: center;
}


.månad ul {
  margin: 0;
  padding: 0;
}

.månad ul li {
  color: rgb(7, 7, 7);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* veckodagar (måndag-söndag) */
.veckodagar {
  margin: 0;
  padding: 10px 0;
  background-color: beige;
}

.veckodagar li {
  display: inline-block;
  width: 13.6%;
  color: rgb(13, 13, 13);
  text-align: center;
}

/* Dagar */
.dagar {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.dagar li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

/* Highlight nybörjargruppens dagar */
.dagar li .nybörjar {
  padding: 5px;
  background: #06ed2d;
  color: white !important;
}
/* Highlight fortsättningsgruppens dagar */
.dagar li .fortsättning {
  padding: 5px;
  background: #0906ec;
  color: white !important;
}
/* Highlight avancerade gruppens dagar */
.dagar li .avancerade {
  padding: 5px;
  background: #ec0505;
  color: white !important;
}
.gul {
  color: yellow;
  text-align: center;
}
.grupper {
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
}

.grupper .röd::before {
  content: "\2022"; 
  color: red; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
.grupper .grön::before {
  content: "\2022"; 
  color: rgb(9, 240, 36); 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
.grupper .blå::before {
  content: "\2022"; 
  color: rgb(0, 94, 255); 
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
}
